page-view {
    ion-navbar ion-title{
        text-align: center;
        color: #fff;
    }
    .toolbar-title-md , .toolbar-title{
        color: #fff;
    }
    ion-icon{
        color: #fff;
    }
    ion-grid , ion-col{
        padding: 0px !important;
    }
    ion-header .toolbar-background ,ion-header .toolbar-background-md{
        background: #00000021 !important;
    }
    .btn{
        text-align: center;
    }
    .btn button{
        color: #000 ;
        background-color: #f6efe0;
        width: 50%;
        font-weight: 900;
    }
    .right{
        float: right;
    }
    .card h3{
        font-weight: bolder;
        color: #fff;
        text-align: center;
    }
    .lef{
        padding: 0px 15px;
    }
    .clr{
        color: #fff;
        background: #211e1e ;
        padding: 10px 0px;
        position: relative;
        margin: 10px auto;
    }
    .clr ion-icon{
        color: #fff;
        position: absolute;
        left: 15px;
        top: 10px;
        background: rgba(0,0,0,0.5);
        height: 30px;
        width: 30px;
        text-align: center;
        border-radius: 50%;
        font-size: 1.8em;
        padding-top: 2px;
    }
    button[disabled], [ion-button][disabled]{
        opacity: 1;
    }
    .dngr{
        text-align: center;
        color: #c84e44 !important;
        display: flex;
        padding-right: 14%;
    }
    .dngr h2{
        color: #c84e44 !important;
    }
    .dngr ion-icon{
        font-size: 30px !important;
        padding-left: 15px !important;
        color: #c84e44 !important;
    }
    .colm ion-grid{
        margin-right: 25px;
        margin-top: 10%;
    }
    ion-card-header h2{
        line-height: 3 !important;
    }
    ion-content {
        background: url('../../assets/imgs/3.PNG');
        background-repeat: no-repeat;
        background-size: cover;
    }
    ion-badge{
        position: absolute;
        top: 0px;
        left: 25px;
    }
    ion-card{
        position: absolute;
        top: 10%;
        left: 0;
    }
    .card-header{
        padding: 0px;
        text-align: center;
        color: #fff;
        background: #110f0f;
    }
    .back-button.show-back-button{
        display: none !important;
    }
    .bar-button-menutoggle{
        display: inline-block !important;
    }
    ion-card-content{
        background: #191616;
        padding: 50px 16px 30px !important;
    } 
}
