<ion-header>
    <ion-toolbar>
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu" ></ion-icon>
            </button>
            <ion-title>تغليف كامل للسياره</ion-title>
            <ion-buttons end>
                <button ion-button icon-only color="royal">
                    <ion-icon name="cart"><ion-badge item-end>1</ion-badge></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar> 
          
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header>
            <h2>خدماتي</h2>
            <!-- <ion-icon name="arrow-back" (click)='popView()'></ion-icon> -->
        </ion-card-header>
        <ion-card-content>
            <div class="clr">
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <img src="../../assets/imgs/9.PNG" alt="">
                        </ion-col>
                        <ion-col col-6 class="colm">
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-4>
                                     اسم الخدمة
                                    </ion-col>
                                    <ion-col col-8>
                                        <div class="right">
                                         تلميع كامل للسيارة
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                     القسم
                                    </ion-col>
                                    <ion-col col-8>
                                        <div class="right">
                                            مطفي
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                     فئة السيارة
                                    </ion-col>
                                    <ion-col col-8>
                                        جيب
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                     اللون
                                    </ion-col>
                                    <ion-col col-8>
                                        <div class="right">
                                         ذهبي
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                     الخدمات الإضافية
                                    </ion-col>
                                    <ion-col col-8>
                                        <div class="right">
                                         تلميع داخلي
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>  
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col offset-6>
            
                        </ion-col>
                        <ion-col col-6>
                            <div class="btn">
                                <button ion-button disabled>
                                  السعر
                                    <span class="lef">15000 ريال</span>
                                </button>
                            </div>
                        </ion-col>
                    </ion-row>    
                </ion-grid>
                <ion-icon name='close'></ion-icon>
            </div>
            <div class="clr">
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <img src="../../assets/imgs/9.PNG" alt="">
                        </ion-col>
                        <ion-col col-6 class="colm">
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-4>
                                        اسم الخدمة
                                    </ion-col>
                                    <ion-col col-8>
                                        <div class="right">
                                         تلميع كامل للسيارة
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                     القسم
                                    </ion-col>
                                    <ion-col col-8>
                                        <div class="right">
                                           مطفي
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
             
                                    </ion-col>
                                    <ion-col col-8>
             
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                     فئة السيارة
                                    </ion-col>
                                    <ion-col col-8>
                                        <div class="right">
                                            جيب
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                      اللون
                                    </ion-col>
                                    <ion-col col-8>
                                        <div class="right">
                                            ذهبي
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>  
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col offset-6>
             
                        </ion-col>
                        <ion-col col-6>
                            <div class="btn lef">
                                <button ion-button disabled>
                                    <span class="lef">التسعير بواسطة الادارة</span>
                                </button>
                            </div>
                        </ion-col>
                    </ion-row>    
                </ion-grid>
                <ion-icon name='close'></ion-icon>
            </div>
            <div class="clr">
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <h3>اجمالي الخدمات</h3>
                        </ion-col>
                        <ion-col>
                            <h3><span>29000</span>ريال</h3>
                      </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <div class="dngr">
                <ion-icon name='alert'></ion-icon>
                    <h2>سيتم اضافة 5% ضريبة القيمة المضافة على قيمة الفاتورة من لوحة التحكم</h2>
            </div>
            <div class="btn">
                <button ion-button class="lef" (click)='presentPopover()' >
                    متابعة
                </button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
      